In [46]:
import numpy as np 
import pandas as pd 
import regex as re

In [47]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [48]:
flats = pd.read_csv("cleaned_flats.csv")
houses = pd.read_csv("cleaned_houses.csv")

In [49]:
df = pd.concat([flats, houses],axis = 0,ignore_index=True)

In [50]:
df.shape

(3940, 21)

In [51]:
df = df.sample(df.shape[0],ignore_index=True)

In [52]:
df.drop(columns = "Unnamed: 0",inplace = True)

In [53]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 99A Gurgaon,flat,pareena laxmi apartments,0.32,5521.0,580.000000,Super Built up area 575(53.42 sq.m.)Carpet are...,2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Dwarka Expy', 'Govt. Sr. Sec. School', 'Exce...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'S...","['Green Area4.5 out of 5', 'Amenities3.5 out o..."
1,3 BHK Flat in Sector 56 Gurgaon,flat,kiran residency,1.55,7750.0,2000.000000,Super Built up area 2000(185.81 sq.m.),3,3,3,servant room,"Middle Floor, Sector 56 Gurgaon, Gurgaon, Haryana",5.0,North,10+ Year Old,"['Sector metro station', 'Sector metro station...",Check out this 3 bhk apartment for sale in kir...,"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,1.00,4854.0,2060.000000,Built Up area: 2060 (191.38 sq.m.)Carpet area:...,2,2,2,not available,"Sector 108, Sector 108 Gurgaon, Gurgaon, Haryana",0.0,North,undefined,NaN,Best in class property available at sector 108...,NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of..."
3,3 BHK Flat in Sector 104 Gurgaon,flat,ats triumph,1.83,7991.0,2290.000000,Super Built up area 2290(212.75 sq.m.)Built Up...,3,4,3+,servant room,"4102, Sector 104 Gurgaon, Gurgaon, Haryana",10.0,North,1 to 5 Year Old,"['IFFCO Chowk Metro Station', 'The Esplanade M...","Ats triumph in sector-104, gurgaon is a ready-...","['1 Wardrobe', '11 Light', '5 AC', '1 Modular ...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of..."
4,6 Bedroom House for sale in Nirvana Country,house,NaN,13.20,27155.0,4860.983244,Built Up area: 4861 (451.6 sq.m.),6,6,0,not available,"Nirvana Country, Sector 50, Nirvana Country, G...",2.0,NaN,undefined,NaN,6bhk residential house for resale in nirvana c...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [54]:
df.to_csv('gurgaon_flats.csv')